<form>
    성명:<input type="text" name="name" /><br>
    카카오계정:<input type="text" name="email" /><br>
    비밀번호:<input type="text" name="password" /><br>
    프로필사진:<input type="text" name="profile_pic" /><br>
    <button>저장하기</button>
</form>
